@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-ExtraBold.ttf);
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-ExtraBold.ttf);
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
  }
  
  
  body {
    padding: 0;
    background: rgb(250, 151, 151);
  }
  
  h2 {
    text-align: center;
    color: rgb(59, 59, 59);
    text-transform: uppercase;
  }
  span {
    font-weight:bolder;
    font-size: 14px;
    font-family: "Montserrat";
  }
  p {
    color: rgb(59, 59, 59);
    font-family: "Montserrat";
    line-height: 200%;
    text-align: start;
  }
  .card-word {
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-evenly;
  }