.App {
  text-align: center;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}
.cards-map {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
h1 {
  color:white;
}







